*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: montserrat;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	background-image: linear-gradient(120deg,#5dd048,#5dd048);
}
table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		  padding: 10px;
		}

.mainform{
	width: 1600px;
	background: #f1f1f1;
	padding: 80px 40px;
	border-radius: 40px;
	position: absolute;
	left: 7%;
	top: 15%;
	

}
.logo{
	height: 300px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.logo img{
	height: 300px;
}
.nis{
	height: 300px;
	position: absolute;
	right: 160px;
	top: 160px;	
}
.nis h1{
	color: #94790b;
	font-size: 34pt;
}
.nis h4{

	color: #94790b;
	font-size: 14pt;
}